{% extends 'base.html' %} 
{% block content %}

<div class="container mt-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'income' %}" class="text-decoration-none text-dark">Income</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Add Money</li>
    </ol>
  </nav>

  <div class="card shadow">
    <div class="card-body">
      <h2 class="card-title mb-4">Add Money</h2>
      <form action="{% url 'add-income' %}" method="post">
        {% include 'partials/_messages.html' %}
        {% csrf_token %}
        <div class="mb-3">
          <label for="amount" class="form-label">Amount</label>
          <input type="text" class="form-control" id="amount" name="amount" value="{{ values.amount }}">
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <input type="text" class="form-control" id="description" name="description" value="{{ values.description }}">
        </div>
        <div class="mb-3">
          <label for="source" class="form-label">Sources</label>
          <select class="form-select" id="source" name="source">
            {% for source in sources %}
              <option value="{{ source.name }}">{{ source.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label for="income_date" class="form-label">Date of Income</label>
          <input type="date" class="form-control" id="income_date" name="income_date">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
