#header {
    background: black;
    color: #ffffff;
    height: 60px;
  }
  #head{
    margin-left: 110px;
    margin-top: -70px;
    color: white;
    font-weight: 700;
  }
  #img{
    margin-top: -20px;
  }
  /* #branding h1 {
    color: #ffffff;
  }
  
  div.breadcrumbs {
    background: rgb(61, 88, 106);
    color: #ffffff;
  }
  
  .login .submit-row {
    padding: 0px !important;
  }
  
  input[type="submit"],
  input[type="button"],
  .submit-row input {
    width: 100%;
    background: rgb(0, 62, 69);
  }
  
  .module h2,
  .module caption,
  .inline-group h2 {
    background: rgb(0, 62, 69);
  } */